.shoes__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoes__container {
    width: 100%;
}

.shoes__header h1 {
    margin: 5px;
}

.search-input {
    margin-right: 5px;
    width: 200px;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0 10px;
    height: 35px;
}

.shoes__no-results {
    width: fit-content;
    margin: 100px auto;
}

.shoes-tile__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tile__container {
    flex: 1 0 32%;
    margin: 5px;
    width: 100%;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.flex-empty {
    flex: 1 0 32%;
    margin: 5px;
}

.tile__gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0,
        #fff 100%
    );
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: "";
}

.tile__container img {
    width: 100%;
}

.tile__info {
    position: absolute;
    bottom: 0;
    width: fit-content;
    padding: 10px;
}

.tile__info h2 {
    font-size: 14px;
    margin-bottom: 0;
}

.tile__info p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.tile__button {
    position: absolute;
    right: 10px;
    bottom: 15px;
    width: fit-content;
}

.tile__button button {
    cursor: pointer;
    width: 125px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 100px;
    outline: none;
    transform: scale(1);
    transition: transform 0.2s;
}

.tile__button button:hover {
    background-color: rgb(46, 46, 46);
    transform: scale(1.05);
}
