@import url("./css/cart.css");
@import url("./css/shoes.css");

.App {
    padding: 20px 40px;
}

.App-header {
    margin: 0 5px;
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
}

.Toastify__toast-body {
    color: black;
}
